body{
    text-align: center;
}

table, th, tr, td{
    margin: 10px auto;
    border: 1px solid black;
    padding: 5px;
}

th{
    background-color: rgb(77, 77, 77);
    color: white;
}

.BdCollapse{
    border-collapse: collapse;
}